@import "src/styles/base";

.neta {
  .header {
    > h1 {
      margin: 0 0 $gap;
      padding-top: $gap;
      font-size: rem(26);
      font-weight: $font-weight-light;
    }
  }

  section.section {
    margin-bottom: $gap * 4;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 $gap;

      h2 {
        margin: 0;
        padding: 0;
        font-size: rem(16);
        font-weight: $font-weight-bold;
      }

      a {
        color: $color-green;
        font-size: rem(14);
        text-decoration: underline;
      }
    }
  }

  .neta {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $gap * 2;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 5;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    a {
      text-decoration: none;

      figcaption {
        color: $base-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}
