/*Global Component*/
@import "./base";

body {
  .main {
    position: relative;
    z-index: $main;
    padding-bottom: 10px;
    background-color: $bg-color;
  }
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.MuiDrawer-root {
  .MuiPaper-root {
    width: 243px;
  }
}

.notice {
  padding: $gap;
  color: lighten($color-error, 45%);
  font-size: rem(10);
  text-align: center;
}
