@import "src/styles/base";

.neta {
  position: relative;
  height: 100vh;

  header {
    position: fixed;
    z-index: $header;
    top: 0;
    left: 0;
  }

  .photo {
    position: relative;
    z-index: 1;
    height: 320px;
    overflow: hidden;

    figure {
      svg {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }

    .count {
      position: absolute;
      z-index: 1;
      right: 5px;
      bottom: 35%;

      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        color: $color-white;

        svg {
          margin-right: 5px;
          font-size: rem(20);
        }

        label {
          font-size: rem(14);
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .detail {
    position: absolute;
    top: auto;
    bottom: 60px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 10px;
    @include transition(fast);

    .top {
      padding: 10px 10px 0;
      line-height: rem(35);

      h1 {
        margin: 0;
        font-size: rem(36);
        font-weight: $font-weight-light;
      }
      small {
        font-size: rem(20);
        font-weight: $font-weight-light;
      }
    }

    .middle {
      position: relative;
      height: 105px;
      background: linear-gradient(180deg, #850088 0%, #000088 100%);
      border-radius: 10px;
      @include transition(fast);

      .display {
        height: 0;
        opacity: 0;
        overflow: hidden;
        @include transition(fast);

        > .action {
          position: absolute;
          left: 0;
          bottom: -10px;
          z-index: 1;
          width: 100%;
          padding: 0 10px;
          text-align: right;
        }
      }
    }

    .feature {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding: 18px 15px 5px;

      .action {
        position: absolute;
        top: -26px;
        right: 20px;

        i {
          position: absolute;
          top: 7px;
          right: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 38px;
          height: 38px;
          @include border-radius(38px);
          background-color: $color-white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $color-primary;
          font-size: rem(32);
        }
      }

      .item {
        color: $color-white;
        text-align: center;

        div {
          font-weight: $font-weight-bold;
          font-size: rem(48);
          line-height: rem(46);
        }
        label {
        }
      }
      .symbol {
      }
    }

    &.show {
      top: auto;
      bottom: 60;

      .top {
        background: rgba(242, 242, 242, 0.6);
        border-top: 1px solid rgba(242, 242, 242, 0.6);
        border-left: 1px solid rgba(242, 242, 242, 0.6);
        border-right: 1px solid rgba(242, 242, 242, 0.6);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .middle {
        height: calc(100vh - 190px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: linear-gradient(180deg, #850088 0%, #000088 35%);

        .display {
          height: inherit;
          opacity: 1;
          overflow: initial;
        }
      }
    }
  }

  .bottom {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);

    .action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        color: $base-color;
        margin-left: 10px;

        svg {
          margin-right: 5px;
          font-size: rem(20);
        }

        label {
          font-size: rem(14);
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .neta {
    .photo {
      height: 400px;
      margin-top: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .detail {
      position: static;
      width: $lg;
      margin: auto;
      padding: ($gap * 5) 0;

      .top {
        display: flex;
        margin-bottom: $gap * 2;

        h1 {
          font-weight: $font-weight;
        }
      }

      .middle {
        position: relative;
        height: auto;
        background: none;
        border-radius: 0;

        .display {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: auto;
          opacity: 1;

          > div {
            width: 100%;
          }
        }
      }

      .feature {
        padding: 0;
        margin-bottom: $gap * 3;
        align-items: flex-end;

        .item {
          position: relative;
          margin: 0 ($gap * 2);
          padding: 5px;
          padding-bottom: 2px;
          border-bottom: 1px solid $color-white;
          color: $base-color;

          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -5px;
            left: calc(50% - 2.5px);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-primary;
            opacity: 0;
            @include transition(fast);
          }

          div {
            font-weight: $font-weight-bold;
            font-size: rem(48);
            line-height: rem(46);
          }
          label {
            font-size: rem(14);
          }

          &.active {
            border-color: $color-primary;

            &:after {
              opacity: 1;
            }
          }
        }
      }

      .achievement {
        padding: 0 $gap * 2;

        .list {
          > li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: $gap + 5;
            font-size: rem(14);

            &:last-child {
              padding-bottom: 0;
            }

            svg {
              margin-right: 10px;
              font-size: rem(20);
            }
          }
        }
      }

      .info {
        margin-bottom: 20px;
        padding: 10px 20px 0;
        background-color: $color-primary;
        text-align: left;

        .top {
          display: block;
          margin-bottom: 20px;
          padding: 0;
          line-height: rem(20);

          .title {
            display: block;
            margin: 0;
            color: $color-white;
            font-size: rem(24);
            font-weight: $font-weight-black;
            line-height: 1.3;
          }
          small {
            color: $color-white;
            font-size: rem(16);
          }
        }

        .pointer {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;

          .item {
            width: calc(100% / 3);
            margin-bottom: 20px;
            color: $color-white;

            div {
              font-size: rem(24);
              font-weight: $font-weight-black;
              line-height: 1;
            }
            label {
              font-size: rem(16);
            }
          }
        }

        .bot {
          color: #6d6dac;
          font-size: rem(50);
          font-weight: $font-weight-black;
          line-height: 0.8;
        }
      }
    }
  }
}
