@import "src/styles/base";

.home {
  position: relative;
  height: 100vh;
  background: $base-color
    url("https://firebasestorage.googleapis.com/v0/b/nextjs-contentful-firebase.appspot.com/o/cdn%2Fhome%2Fbg-home.png?alt=media&token=436daae2-7180-4f96-be0f-95490704c5ac")
    center bottom no-repeat;

  h1 {
    max-width: 320px;
    margin: 30px auto;
    color: $color-white;
    font-size: rem(24);
    font-weight: $font-weight-light;
    text-align: center;

    span {
      color: $color-safron;
      font-weight: $font-weight;
      text-transform: capitalize;

      &.grn {
        color: $color-green;
      }
    }
  }

  .neta {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    a {
      text-decoration: none;
    }
  }

  .tags {
    margin: 0 10px;
    text-align: center;

    a {
      display: inline-block;
      margin: 5px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      label {
        text-transform: capitalize;
      }

      $colors: #cef3ff, #ffcece, #d5ffce, #deceff;
      $repeat: 10;
      @for $i from 0 through $repeat {
        &:nth-child(#{length($colors)}n + #{$i}) {
          label {
            background-color: lighten(
              rgb(random(100), random(100), random(100)),
              70%
            );
          }
        }
      }
    }
  }

  .subscribe {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 150px);
    max-width: 300px;
    margin: auto;
  }
}

@include media-breakpoint-up(sm) {
  .home {
    background-size: cover;
    h1 {
      max-width: 100%;
      margin: 0 auto 10px;
    }
    .neta {
      justify-content: center;
      margin-bottom: 0;
    }
    .subscribe {
      bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .home {
    background-image: none;
    background-color: #fff;

    h1 {
      max-width: 400px;
      margin: 30px auto;
      color: $base-color;
      font-size: rem(30);
    }

    .neta {
      margin-bottom: 30px;
    }

    .tags {
    }

    .subscribe {
      position: static;
      margin-top: 100px;
    }
  }
}
