@import "src/styles/base";

.home {
  //@todo: feb 3 2020, temprory fix for full height;
  @include mobileFullHeight();
  background: $base-color
    url("https://firebasestorage.googleapis.com/v0/b/nextjs-contentful-firebase.appspot.com/o/cdn%2Fhome%2Fbg-home.png?alt=media&token=436daae2-7180-4f96-be0f-95490704c5ac")
    center bottom no-repeat;

  h1 {
    max-width: 320px;
    margin: 0 auto $gap;
    padding-top: $gap * 2;
    color: $color-white;
    font-size: rem(24);
    font-weight: $font-weight-light;
    text-align: center;

    span {
      color: $color-safron;
      font-weight: $font-weight;
      text-transform: capitalize;

      &.grn {
        color: $color-green;
      }
    }
  }

  .neta {
    display: flex;
    justify-content: center;
    margin-bottom: $gap;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    a {
      text-decoration: none;
    }
  }

  .tags {
    margin: 0 $gap $gap;
    text-align: center;

    a {
      display: inline-block;
      margin: 5px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      label {
        text-transform: capitalize;
        cursor: pointer;
      }

      $colors: #cef3ff, #ffcece, #d5ffce, #deceff;
      $repeat: 10;
      @for $i from 0 through $repeat {
        &:nth-child(#{length($colors)}n + #{$i}) {
          label {
            background-color: lighten(
              rgb(random(100), random(100), random(100)),
              70%
            );
          }
        }
      }
    }

    > div {
      a {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }

  .subscribe {
    max-width: 300px;
    margin: auto;
  }
}

@include media-breakpoint-up(sm) {
  .home {
    background-size: cover;
    h1 {
      max-width: 100%;
    }
    .neta {
      justify-content: center;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .home {
    min-height: auto;
    background-image: none;
    background-color: #fff;

    h1 {
      max-width: 100%;
      margin: $gap auto ($gap * 2);
      color: $base-color;
      font-size: rem(36);

      span {
        // color: #af632d;
        color: darken($color-safron, 20%);

        &.grn {
          color: #42852d;
        }
      }
    }

    .tags {
      margin-bottom: $gap * 5;
      > div {
        margin-top: $gap * 2;
        a {
          color: $color-primary;
        }
      }
    }

    .subscribe {
      position: static;
      margin: $gap auto;
    }
  }
}
