@import "src/styles/base";

.home {
  //@todo: feb 3 2020, temprory fix for full height;
  @include mobileFullHeight();
  background: $base-color
    url("https://firebasestorage.googleapis.com/v0/b/nextjs-contentful-firebase.appspot.com/o/cdn%2Fhome%2Fbg-home.png?alt=media&token=436daae2-7180-4f96-be0f-95490704c5ac")
    center bottom no-repeat;

  h1 {
    max-width: 320px;
    margin: 0 auto $gap;
    color: $color-white;
    font-size: rem(24);
    font-weight: $font-weight-light;
    text-align: center;

    span {
      color: $color-safron;
      font-weight: $font-weight;
      text-transform: capitalize;

      &.grn {
        color: $color-green;
      }
    }
  }

  .authAction {
    margin: ($gap * 2) 0;
    text-align: center;

    p {
      margin: 0;
      margin-top: $gap;
      color: $color-white;
      font-size: rem(13);
    }

    .loggedIn {
      display: flex;
      flex-direction: row;
      justify-content: center;

      > figure {
        img {
          width: 100px;
          height: 100px;
          margin-right: $gap;
          @include border-radius(100%);
        }
      }

      > div {
        .title {
          margin-bottom: $gap * 0.5;
          color: $color-white;
          font-weight: $font-weight-bold;
          text-align: left;

          small {
            display: block;
            font-weight: $font-weight;
          }
        }

        .action {
          text-align: left;

          button {
            margin-right: $gap;
            box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.3);

            &:first-child {
              // background-color: $color-primary;

              span {
                // color: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  .ticket {
    max-width: 600px;
    margin: ($gap * 2) auto;
    padding: $gap/2 $gap;
    background-color: $color-primary;
    color: $color-white;
    font-size: rem(13);
    text-align: center;
  }

  section.section {
    margin-bottom: $gap;

    &.mb_0 {
      margin-bottom: 0;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $gap/2 $gap $gap;

      h2 {
        margin: 0;
        padding: 0;
        color: $color-white;
        font-size: rem(16);
        font-weight: $font-weight-bold;
      }

      a {
        color: $color-green;
        font-size: rem(14);
        text-decoration: underline;
      }
    }

    &.card {
      position: relative;
      @include border-radius(3px);
      overflow: hidden;

      .header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba($color-black, 70%);

        h2 {
          color: $color-white;
        }
      }
    }
  }

  .neta {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $gap * 2;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    a {
      text-decoration: none;
    }
  }

  .tags {
    margin: 0;
    padding-bottom: $gap;
    text-align: center;

    a {
      display: inline-block;
      margin: 5px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      label {
        text-transform: capitalize;
        cursor: pointer;
      }

      $colors: #cef3ff, #ffcece, #d5ffce, #deceff;
      $repeat: 10;
      @for $i from 0 through $repeat {
        &:nth-child(#{length($colors)}n + #{$i}) {
          label {
            background-color: lighten(
              rgb(random(100), random(100), random(100)),
              70%
            );
          }
        }
      }
    }

    > div {
      a {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }

  .subscribe {
    max-width: 300px;
    margin: auto;
    margin-bottom: $gap * 2;
  }

  .context {
    padding-bottom: $gap;
    color: $color-white;

    h3 {
      margin: 0;
      margin-bottom: $gap/2;
      font-size: rem(13);
      font-weight: $font-weight-black;
    }

    p {
      margin: 0;
      margin-bottom: $gap * 2;
      font-size: rem(13);
    }
  }
}

@include media-breakpoint-up(sm) {
  .home {
    background-size: cover;

    h1 {
      max-width: 100%;
      padding-top: $gap;
    }

    .context {
      color: $base-color;

      h3 {
        font-size: rem(16);
        font-weight: $font-weight-bold;
      }
      p {
        font-size: rem(16);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .home {
    min-height: auto;
    background-image: none;
    background-color: #fff;

    h1 {
      max-width: 100%;
      margin: 0 auto $gap;
      padding-top: 0;
      color: $base-color;
      font-size: rem(36);

      span {
        // color: #af632d;
        color: darken($color-safron, 20%);

        &.grn {
          color: #42852d;
        }
      }
    }

    .authAction {
      p {
        color: $base-color;
      }

      .loggedIn {
        > div {
          .title {
            color: $base-color;
          }
        }
      }
    }

    .ticket {
      // font-size: rem(13);
    }

    section.section {
      .header {
        justify-content: flex-start;

        h2 {
          color: $base-color;
          font-size: rem(20);
          font-weight: $font-weight;
        }

        a {
          margin-left: $gap;
        }
      }
    }

    .tags {
      margin-bottom: $gap * 5;
      > div {
        margin-top: $gap * 2;
        a {
          color: $color-primary;
        }
      }
    }

    .subscribe {
      position: static;
      margin: $gap auto;
    }
  }
}
