@import "src/styles/base";

#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px;
}

#footer {
  position: fixed;
  z-index: $footer;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 12px;
}

.drawer {
  button {
    color: $color-white;
  }
}

@include media-breakpoint-up(md) {
  .drawer {
    button {
      color: $base-color;
    }
  }
}
