@import "src/styles/base";

#header {
  position: fixed;
  z-index: $header;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 12px;
  background-color: $base-color;
}

#main {
  position: relative;
  z-index: $main;
  @include mobileFullHeight();
  background-color: $bg-color;
}

#footer {
  position: fixed;
  z-index: $footer;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $gap;
  background-color: $base-color;
  font-size: rem(12);
  font-weight: $font-weight;
  text-align: center;

  .links {
    a {
      display: inline-block;
      margin-right: $gap * 2;
      color: $color-white;
    }
  }
  .copy {
    color: $color-white;
  }
}

.drawer {
  button {
    color: $color-white;
  }
}

@include media-breakpoint-up(md) {
  #header {
    background-color: $color-white;
  }

  #main {
    min-height: auto;
  }

  .drawer {
    button {
      color: $base-color;
    }
  }
}
