@import "src/styles/base";

.twit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;

  figure {
    margin-right: 10px;
    color: #00acee;
    svg {
      font-size: rem(50);
    }
  }

  p {
    margin: 0;
    font-size: rem(14);
  }

  &.white {
    color: $color-white;

    figure {
      color: $color-white;
    }
  }
}
