@import "src/styles/base";

.setting {
  padding-bottom: $gap * 2;

  .header {
  }

  .tabs {
    margin-top: $gap * 3;

    p {
      a {
        text-decoration: underline;
      }
    }
  }

  .banner {
    position: relative;
    height: 200px;
    margin-bottom: $gap * 5;
    // overflow: hidden;

    figure,
    img {
      height: 100%;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-lightest;
    }

    figcaption {
      text-align: right;
    }

    .form {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 10px;
    }
  }

  .photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $gap * 2;

    figure {
      min-width: 90px;
      margin: 0;
      margin-right: $gap * 2;
    }
  }

  .section {
    max-width: 400px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: $gap * 2;
      padding-bottom: $gap;
      border-bottom: 1px solid $color-light;

      h3 {
        margin: 0;
        font-size: rem(18);
        font-weight: $font-weight;
        // line-height: rem(18);
      }

      button {
        min-width: 50px;
        padding: 1px 0;
      }
    }

    .form {
      margin-bottom: $gap * 3;

      form > div {
        margin-bottom: $gap * 2;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .setting {
    .section {
      .header {
        margin-bottom: $gap * 3;
        h3 {
          font-size: rem(24);
          font-weight: $font-weight-light;
        }
      }
    }
  }
}
