@import "src/styles/base";

.thumb {
  width: 125px;
  text-align: center;

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 100%;
    // background-color: $color-white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);

    overflow: hidden;

    i {
      color: $color-gray-light;
      font-size: 50px;
    }
    img {
      height: 100%;
      overflow: hidden;
    }
  }

  figcaption {
    color: $color-lightest;
    font-size: rem(14);
  }
}

@include media-breakpoint-up(md) {
  .thumb {
    figcaption {
      color: $base-color;
      font-size: rem(14);
    }
  }
}
