@import "src/styles/base";

.story {
  position: relative;

  background-size: cover;
  background-repeat: none;
  background-position: center center;

  .banner {
    display: flex;
    max-height: 300px;
    margin-bottom: $gap * 2;
    overflow: hidden;

    img {
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  h1 {
    margin-top: 0;
    font-size: rem(32);
    font-weight: $font-weight-black;
  }

  .info {
    label {
      margin-right: 20px;
      text-transform: capitalize;
      background-color: lighten($color-chakra, 70%);
    }

    span {
      font-size: rem(14);
    }
  }

  .language {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $gap;

    > div {
      max-width: 120px;
    }
  }

  .description {
    margin: ($gap * 3) 0 ($gap * 6);

    p {
      line-height: rem(24);

      &:first-child {
        span:first-child {
          font-size: rem(24);
        }
      }
    }
  }

  .bottom {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: $footerHeight;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: rgb($color-black, 0.1);

    .action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        margin-left: 10px;

        svg {
        }

        label {
          font-size: rem(14);
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .story {
    .banner {
      margin-bottom: 50px;
    }

    &:after {
      position: static;
      background-color: $bg-body;
    }

    h1 {
      color: $base-color;
      font-size: rem(36);
      font-weight: $font-weight;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      span {
        color: $base-color;
      }
    }

    .language {
      margin: 0;
      > div {
        > div {
          color: $base-color;

          &:before {
            border-color: $base-color;
          }
          > svg {
            color: $base-color;
          }
        }

        p {
          color: $base-color;
        }
      }
    }

    .description {
      p {
        color: $base-color;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
}
